@media(max-width: 1300px){
    .section-4{
        height: 600px;
        justify-content: center;
        align-items: center;

        .text{
           flex-direction: column;

           h1{
                text-align: center;
           }

           .middle{
            text-align: center;
           }
        }

        .cch{
            display: none;
        }
    }
}

@media(min-width: 1301px){
    .section-4{
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}