nav{
    background: #1C1C1C;
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;

    .div-1{
        width: 15%;
    }
    
    .div-2{
        width: 75%;
    }
    
    img{
        float: right;
    }

    .rotate{
        transform: rotateZ(-90deg);
    }

    .link{
        opacity: 0.5;
        border-bottom: solid #1C1C1C;
        color: #FFFFFF;
        float: right;
        text-decoration: none;
        margin-left: 50px;
        margin-top: 25px;
        padding-bottom: 20px;
        transition: 0.5s;
    }

    .link:hover{
        opacity: 1;
        border-bottom: solid #E27866;
    }
}
